<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="jp">
<head>
<title>odin</title>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:include="management/common/topbar :: common_header"
	th:remove="tag" />
	<link href="../../css/common/articlelist.css" th:href="@{/css/common/articlelist.css}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<div th:substituteby="management/common/topbar :: common_topbar"></div>
	<div class="contents">
		<section class="articles">
		</section>
		<section class="article-preview">
		</section>
	</div>
	<script src="../js/common/marked.js" th:src="@{/js/common/marked.js}" type="text/javascript"></script>
	<script src="../js/common/odin.js" th:src="@{/js/common/odin.js}" type="text/javascript"></script>
	<script src="../js/common/articlelist.js" th:src="@{/js/common/articlelist.js}" type="text/javascript"></script>
</body>
</html>